<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>\
    <style>
        .success{
            color:red;
        }
    </style>
</head>
<body>
    <form action="" method="post" nonvalidate>
     {% csrf_token %}
      {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
        <p class="er">{{error}}</p>
        {% endfor %}
       {% endif %}
      {% for fm in form %}
       {{fm.label_tag}}  {{fm}}  {{fm.errors| striptags}} <br><br>
      {% endfor %}
      <input type="sumbit" value="sumbit"> 
    </form>
    {% if messages %}
     {% for message in meessages %}
      <small {% if message.tags %} class="{{message.tags}}" {% endif %}></small>
     {% endfor %}
     {% endif %} 
     <a href="{% url 'login' %}">LogIn</a>
</body>
</html>